:root {
  color-scheme: dark;
}

body {
  margin: 0;
  min-height: 100vh;
  background: #121212;
  background-attachment: fixed;
}

#root {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  text-align: initial;
}